* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  padding: 8px;
  background: white;
}

#grid div {
  background: #3f7f1f;
  color: white;
  font-size: 32px;
  padding: 20px;
  font-family: serif;
}

/* Positioning each block */
#grid div:nth-child(1) {
  grid-column: 1 / -1;
}

#grid div:nth-child(2) {
  grid-row: 2 / 6;
}

#grid div:nth-child(3) {
  grid-column: 2 / 3;
}

#grid div:nth-child(4) {
  grid-column: 3 / -1;
}

#grid div:nth-child(5) {
  grid-column: 2 / 4;
}

#grid div:nth-child(6) {
  grid-column: 4 / 5;
}

#grid div:nth-child(7) {
  grid-column: 2 / 3;
}

#grid div:nth-child(8) {
  grid-column: 3 / 4;
}

#grid div:nth-child(9) {
  grid-column: 4 / 5;
}

#grid div:nth-child(10) {
  grid-column: 2 / -1;
}
